.table-auto {
    table-layout: auto;
    width: auto;
}

.no-wrap {
    width: 1%;
    white-space: nowrap;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

figure.items-center>img {
    margin-left: auto;
    margin-right: auto;
}
